SPRING_PROFILES_ACTIVE=dev
COMPOSE_PROFILES=

POSTGRES_DB=hapi
POSTGRES_USER=hapi
POSTGRES_PASSWORD=hapi_pw

# Enable OAuth2 Resource Server by appending ",auth", e.g. dev,auth
# For local Keycloak in this compose, use the internal service URL:
FHIR_JWT_ISSUER_URI=http://keycloak:8180/realms/fhir

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
OAUTH2_PROXY_COOKIE_SECRET=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
